//colors
$mainGrey: #41463D;
$mainBlue: #413C58;
$mainLight: #FFF8F0;
$mainLightGreen: #C9ECCE;
$mainPink: #E0ACD5;

$veryBigFont: 3.4em;
$bigFont: 1.2em;
$normalFont: 1em;
$smallFont: 0.8em;
$verySmallFont: 0.6em;
//media query resolutions 1 - do 800, 2 - 1200, 3 - 1600
//buttons
$buttonBgColor: lighten($mainBlue, 60%);
$buttonBorderRadius: 10px;
$buttonBorder: 5px $mainBlue solid;
$buttonLetterColor: $mainBlue;
$ButtonBgColorActive: darken($mainLight, 5%);
$buttonTransitionDuration: 0.3s;
